In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel(r"Data_Train.xlsx")
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [3]:
print(len(df[df.columns[0]]))

df_list = list(df[df.columns[0]])
df_list = set(df_list)
len(df_list)

10683

12

In [4]:
x = df['Route'][1].split('→')
x_arr = x[0]
x_dest = x[-1]

y= [df['Route'][i].split('→')  for i in range(len(df.columns))]
print(y)

[['BLR ', ' DEL'], ['CCU ', ' IXR ', ' BBI ', ' BLR'], ['DEL ', ' LKO ', ' BOM ', ' COK'], ['CCU ', ' NAG ', ' BLR'], ['BLR ', ' NAG ', ' DEL'], ['CCU ', ' BLR'], ['BLR ', ' BOM ', ' DEL'], ['BLR ', ' BOM ', ' DEL'], ['BLR ', ' BOM ', ' DEL'], ['DEL ', ' BOM ', ' COK'], ['DEL ', ' BLR ', ' COK']]

In [5]:
set(df['Airline'])

{'Air Asia',
 'Air India',
 'GoAir',
 'IndiGo',
 'Jet Airways',
 'Jet Airways Business',
 'Multiple carriers',
 'Multiple carriers Premium economy',
 'SpiceJet',
 'Trujet',
 'Vistara',
 'Vistara Premium economy'}

In [6]:
pip install seaborn

Collecting seaborn
  Using cached seaborn-0.11.2-py3-none-any.whl (292 kB)
Requirement already satisfied: pandas>=0.23 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.3.5)
Requirement already satisfied: numpy>=1.15 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.22.1)
Requirement already satisfied: scipy>=1.0 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.7.3)
Requirement already satisfied: matplotlib>=2.2 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (3.5.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (4.28.5)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.6)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (9.0.0)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.23->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.11.2
Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pip in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (21.3.1)
Note: you may need to restart the kernel to use updated packages.